body {margin: 0;padding: 0;background-color:#D3DEDC;}

 * {box-sizing: border-box;}

form {padding: 16px;background-color: #92A9BD;border: 1px solid #c1c1c1;margin-top: 32px;max-width: 600px;margin-left: auto;margin-right: auto;padding: 16px; border-radius: 8px;}
form input {margin-bottom: 16px;background: #fff;border: 1px solid #9c9c9c;}
form button {background: white;padding: 11px;border: 0;}
form button:hover {background: lightgrey;color: white;}
form span a{background: lightgrey;padding: 11px;border: 0;text-decoration: none;color: black;text-align: center;}
form span a:hover {background: red;color: white;}

label {text-align: right;display: block;padding: 9px 24px 9px 0;}

input {width: 100%;padding: 11px;margin-bottom: 9px;}
input:focus {outline: 3px solid blue;}

select {width: 100%;padding: 11px;margin-bottom: 9px;}
select:focus {outline: 3px solid green;}

@media (min-width: 400px) {

  form {

    overflow: hidden;

  }

  label {

    float: left;

    width: 200px;

  }
  input {

    float: left;

    width: calc(100% - 200px);

  }



    select {

    float: left;

    width: calc(100% - 200px);

  }

  button {

    float: right;

    width: calc(100% - 200px);

    background-color: black;

  }
}